/* EPILOGUE */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
/* DM SANS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* RALEWAY */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-raleway: "Raleway", sans-serif;
    --font-dm-sans: "DM sans", sans-serif;
    --font-epilogue: "Epilogue", sans-serif;
}

:root {
    --color-background: #fff;
    --color-text: #000;
    --color-border: #000;
}

.dark-mode {
    --color-background: #000;
    --color-text: #fff;
    --color-border: #fff;
}

.content {
    background-color: var(--color-background);
    color: var(--color-text);
    border-color: var(--color-border);
}

.grayscale-filter {
    @apply brightness-[155%] grayscale contrast-[1000%];
}

.backdrop-grayscale-filter {
    @apply backdrop-brightness-[125%] backdrop-grayscale backdrop-contrast-[1000%];
}

.dark-mode .grayscale-filter,
.dark-mode .backdrop-grayscale-filter {
    @apply invert;
}

h1 {
    @apply font-[1000] text-4xl;
}

.big {
    @apply font-[1000] text-6xl;
}

.tilt {
    @apply italic;
    transform: skew(-9deg);
}
